<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.mapper.CategoryStandardMapper">
    <insert id="insert" parameterType="categoryStandard">
        insert into category_standard values(DEFAULT,#{num},#{name},#{remark},#{serial})
    </insert>
</mapper>