@charset "utf-8";

/*搜索*/
/*.seacrh{ z-index:10; margin-top:60px; }*/
/*.btn_text{ text-indent:10px; }*/
/*.seach-chose{ position:absolute; width:100px; left:2px; top:2px; background:#eeedef; border:1px solid #c8c8c8; border-bottom:none; }*/
/*.seach-chose strong{  background:url(../img/seach-chose.png) no-repeat 76px center; text-indent:12px; font-weight:normal; line-height:31px; height:30px; display:block; border-bottom:1px solid #c8c8c8; cursor:pointer; }*/
/*.seach-chose strong:hover{ color:#d31215; }*/
/*.seach-chose dl{ display:none; }*/
/*.seach-chose dd{ line-height:32px; text-indent:12px; border-bottom:1px solid #c8c8c8; cursor:pointer; }*/
/*.seach-chose dd:hover{ background:#f9f9f9}*/
/*.seach-cate{ position:absolute; left:5px; top:-33px;}*/
/*.seach-cate dd{ display:inline-block; padding:3px 8px; border-radius:3px; background:#eee; position:relative; margin-right:5px; cursor:pointer;  font-size:12px;}*/
/*.seach-cate dd.active, .seach-cate dd:hover{ background:#d31215; color:#fff; }*/
/*.seach-cate dd.active:after, .seach-cate dd:hover:after, .seach-cate dd.active:before, .seach-cate dd:hover:before { border: solid transparent; content: ' '; height: 0; left: 12px; position: absolute; width: 0; } */
/*.seach-cate dd.active:after, .seach-cate dd:hover:after, .seach-cate dd.active:before, .seach-cate dd:hover:before  { border-width: 10px; border-top-color: #d31215; top: 18px; } */

/*1102新增*/
.logo img{ height:70px}
.guidelist{ overflow:hidden; margin-top:30px; width:630px; margin:0 auto }
.guidelist dl{ width:110%}
.guidelist dd{ float:left; width:120px; margin:0 50px 0 0 }
.guidelist dd span{ display:block; width:120px; height:170px; }
.guidelist dd span img{ float:left;width:120px; height:170px; }
.guidelist dd h5{ text-align:center; margin-top:5px; }
.colum1 .flex-direction-nav{ top:70px}

