<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<!-- 自动扫描注解功能 -->
	<context:component-scan base-package="com.trs.*"/>
	<!-- 定时器注解 -->
	<!--<task:annotation-driven/>-->

	<!-- 切面注解扫描 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<!-- 使用springMVC 当访问静态资源时 启用默认路径 -->
	<!--<mvc:resources mapping="/static/client/**" location="/static/client/" />
	<mvc:resources mapping="/static/admin/**" location="/static/admin/" />
	<mvc:resources mapping="/static/remark/**" location="/static/remark/" />-->
	<!-- 视图解析器 -->
	<bean
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
				  value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- JSON返回 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 创建上传文件工具 -->
	<bean id="multipartResolver" class="com.trs.core.util.FCommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="2000000000" />
		<property name="maxInMemorySize" value="1000000" />
	</bean>

	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="/WEB-INF/jsp/client/error/500.jsp"></property>
		<property name="defaultStatusCode" value="500"></property>
		<property name="statusCodes"><!-- 配置多个statusCode -->
			<props>
				<prop key="/WEB-INF/jsp/client/error/500.jsp">500</prop>
				<prop key="/WEB-INF/jsp/client/error/404.jsp">404</prop>
			</props>
		</property>
		<property name="exceptionMappings">
			<props>
				<prop key="java.sql.SQLException">/WEB-INF/jsp/client/error/500.jsp</prop>
				<prop key="org.springframework.web.bind.ServletRequestBindingException">/WEB-INF/jsp/client/error/500.jsp</prop>
				<prop key="java.lang.IllegalArgumentException">/WEB-INF/jsp/client/error/500.jsp</prop>
				<prop key="org.springframework.validation.BindException">/WEB-INF/jsp/client/error/500.jsp</prop>
				<prop key="java.lang.Exception">/WEB-INF/jsp/client/error/500.jsp</prop>
			</props>
		</property>
	</bean>

</beans>