<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <!-- 加载任务类 -->
    <bean id="exampleBusinessObject" class="com.trs.core.task.DicLibraryTask" />

    <!-- 创建任务工厂 -->
    <bean id="jobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="exampleBusinessObject" />
        <property name="targetMethod" value="doIt" />
        <property name="concurrent" value="false" />
    </bean>

    <!-- 设置定时时间 -->
    <!-- 配置定时表达式 -->
    <bean id= "testTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
        <property name="jobDetail" ref="jobDetail" />
        <!-- 每一分钟执行一次 -->
        <property name="cronExpression" value="0 0 */4 * * ?" />
    </bean>

    <!-- 配置调度工厂 -->
    <bean id= "testSchedulerFactoryBean"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers" >
            <list>
                <ref bean="testTaskTrigger" />
            </list>
        </property>
    </bean>
</beans>